body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 10px; /* Radio del borde para esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra opcional */
}

.productos-destacados {
    padding: 20px;
    text-align: center;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.acerca {
    padding: 20px;
    background-color: #ddd;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.producto {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(33.333% - 40px); /* Ajusta el ancho de los productos */
    box-sizing: border-box;
    text-align: center;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

main {
    padding-bottom: 60px; /* Ajusta este valor según la altura del footer */
}

